@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center" style="margin-top: 5em; background-color: #3a2e3f; color: #ddd; border-radius: 3em; text-align: center;">
    <br>
    <br>
    <h1>Welcome to Membership Managements Software</h1>
    <br>
    <p>We are here to help you pick the <i>BEST</i> Membership Managements Software for your company. </p>
    <br>
    <br>
    <br>
    <button class="btn btn-outline-secondary btn-lg" onclick="window.location.href='https://localhost:5001/Softwares';" style="color: #ddd;">Show Me the Softwares!</button>
    <br>
    <br>
    <br>
    <br>
</div>
